.canvasFooter{
    padding-top: 2px;
    height: 25px;
    background-color: var(--rs-navbar-default-bg);
    color: var(--rs-navbar-default-text);
    vertical-align: middle;
    border-bottom: 1px solid var(--rs-border-primary);
}