
.canvasContainer {
  height: calc(100vh - 92px);
  //height: 100%;
  position: relative;
  width: 100%;
}

.vis-network {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
