.start-ui {
    width: 600px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 20px;
    background: rgba(34, 34, 34, 0.83);
    border-radius: 3px;
    text-align: center;

}

.start-ui h1 small {
    background: #47ab4e;
    color: #3b3e4c;
    font-size: 16px;
    padding: 2px 4px;
    margin-left: 6px;
    padding-bottom: 0;
}

.start-ui .top-section {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.start-ui .bottom-section {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.start-ui  a{
    color: #aaaaaa ;
}
.start-ui  .bottom-section  form {
    width: 100%;
}
.start-ui  .bottom-section  form input {
    width: 400px;
    margin: 0 auto;
    padding: 5px 10px;
    color: white;
    background: #2d2d2d;
    /*padding-top: 2rem;*/
    /*padding-bottom: 1rem;*/
}
