.nodeMenuContainer {
  background-color: var(--rs-navbar-default-bg);
  color: var(--rs-navbar-default-text);
  position: fixed;
  width: 280px;
  // padding: 10px 15px;
  font-size: 12px;
  z-index: 10000;
  opacity: 0.99;
  border:  1px solid var(--rs-border-primary);
  border-top-width: 5px;

  .rs-list{
    margin-top: 10px;
    .rs-list-item{
      cursor: pointer;
      background-color: var(--rs-navbar-default-bg);
    }
    .rs-list-item:hover{
      background-color: var(--rs-body);
    }
  }

}