@import "../../config.scss";


.aside-nav {
    width: calc(45px - 1px);
    height: calc(100vh - 45px - 24px);
    float: left;
    border-right: 1px solid $borderColor;
    background: $darkBg;

  }