@import "../../config.scss";


.aside-right {
  width: 22px;
  height: calc(100vh - 35px - 24px);
  //position: fixed;
  //top: 36px;
  //right: 24px;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  background: $darkBg;
  z-index: 10000;

}

.aside-right-lg {
  width: 600px;
}
