@import "../../config.scss";

.aside-left{
  width: 250px;
  height: 100%;
  // background: red;
  float: left;
  border-right: 1px solid $borderColor;
  background: $darkBg;

}
.aside-left.closed{
  width: 0;
}
