@import "../../config.scss";


  .aside-right {
    width: 300px;
    height: calc(100vh - 45px - 24px);
    position: fixed;
    top: 46px;
    right: 0;
    border-left: 1px solid $borderColor;
    background: $darkBg;
    z-index: 10000;

  }
