@import "../../config.scss";

.footer{
  border-top: 1px solid $borderColor;
  height: 22px;
 
  .nav-left-list, .nav-right-list{
    li{
      height: 20px;
      padding: 0;
      a, span{
        padding: 3px 8px;
        font-size: 12px;
        border: none;
        background: none ;
      }
    }
  }
}
