@import "../../config.scss";

.main-content-middle{
  width: 300px;
  height: 100%;
  border-right: 1px solid $borderColor;
  float: left;

  .main-content-top{
    height: calc(100% - 450px - 1px);
    // height: calc(100% - 250px - 50px - 24px);
    border-bottom: 1px solid $borderColor;

  }
  .main-content-top.bottom-closed{
    height: 100%;
  }
  .main-content-bottom{
    height: 450px;
    // height: calc(50vh - 45px - 22px - 2px); // -2 for borders
  }
  .main-content-bottom.closed {
    height: 0;
  }
}
