@import "../../config";


.main-content {
  //width: calc(100% - 45px);
  width: calc(100% - 22px - 22px);
  float: left;
  height: calc(100vh - 35px - 24px);

  .main-content-nav {
    height: 31px;
    border-bottom: 1px solid $borderColor;
    background-color: $veryDarkBg;
  }


  .main-content-body {
    //height: calc(100% - 22px - 10px);
    height: 100%;
    width: calc(100vw - 44px);
    float: right;
  }
}
