
.invana-graph-viewer {
    margin: 0;
    padding: 0;
}

.invana-graph-viewer #copy-right-info-div {
    position: fixed;
    right: 10px;
    height: 10px;
    bottom: 33px;
    opacity: 0.25;
    font-size: 1.3rem;
    font-weight: bold;
}

.invana-graph-viewer #canvas-stats {
    position: fixed;
    right: 10px;
    height: 10px;
    bottom: 10px;
    font-size: 12px;
    /*opacity: .5;*/
}

.invana-graph-viewer .invana-graph-viewer-nav {
    height: 40px;
    /*background: green;*/
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
}

.invana-graph-viewer .invana-graph-viewer-nav-brand h3 {
    padding: 10px 12px;
    font-size: 18px;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
}

.invana-graph-viewer .invana-graph-viewer-nav-brand {
    width: 200px;
    float: left;
}

.invana-graph-viewer #header-query-form input {
    width: calc(100% - 26px);
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #efefef;
    background: #353535;
    color: white;
}


.invana-graph-viewer #legend-div {
    position: fixed;
    left: 0;
    top: 40px;
    z-index: -10;
}

.invana-graph-viewer #legend-div svg {
    height: calc(100vh - 40px);
}

.invana-graph-viewer #controls-div button {
    margin-top: 10px;
    float: right;
    /*margin-right: 10px;*/
}

.invana-graph-viewer #controls-div {
    position: fixed;
    top: 40px;
    right: 5px;
    width: 200px;
    height: 30px;
}

.invana-graph-viewer #properties-div {
    /*background: rgba(82, 82, 82, 0.13);*/
    height: calc(100vh - 35px);
    width: 300px;
    position: fixed;
    right: 0;
    top: 33px;
    padding: 20px 10px;
    z-index: 10000;
    display: none;
    color: #555555;
    font-size: 12px;
    line-height: 1.4rem;
}

.invana-graph-viewer .node circle:hover {
    stroke: #cbcbcb;
    stroke-width: 3px;
}

.invana-graph-viewer .link:hover,
.invana-graph-viewer .edgepath:hover {
    stroke: #cbcbcb;
    stroke-width: 3px;
}

.invana-graph-viewer .node,
.invana-graph-viewer .edgepath,
.invana-graph-viewer .edgelabel,
.invana-graph-viewer .link {
    cursor: pointer;
}


.invana-graph-viewer .node,
.invana-graph-viewer .link,
.invana-graph-viewer .edgelabel {
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}


.invana-graph-viewer #svg {
    width: 100% !important;
    height: 100% !important;;
}

.invana-graph-viewer #graph-area-wrapper {
    overflow: hidden;
}

.invana-graph-viewer .full-screen {
    width: 100%;
    height: 100%;
}

.invana-graph-viewer .page-loading p {
    color: #666;
}


/* Safari */
.lds-ellipsis {
    display: block;
    position: relative;
    width: 80px;
    height: 40px;
    margin: 0 auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1659ac;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.page-loading {
    height: calc(100% - 45px);
    margin-top: 40px;
    width: 100%;
    position: absolute;
    z-index: 1000;
    background: rgba(255, 255, 251, 0.68);
}

.text-center {
    text-align: center;
}