html, body {
    margin: 0;
}

.invana-graph-viewer {
    margin: 0;
    padding: 0;
}

.invana-graph-viewer .invana-graph-viewer-nav {
    height: 40px;
    /*background: green;*/
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
}

.invana-graph-viewer .invana-graph-viewer-query {
    width: calc(100% - 230px);
    float: left;
}


.invana-graph-viewer .invana-graph-viewer-nav-brand h3 {
    padding: 10px 12px;
    font-size: 16px;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
}

.invana-graph-viewer .invana-graph-viewer-nav-brand {
    width: 200px;
    float: left;
}

.invana-graph-viewer #header-query-form input {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #efefef;
    background: #353535;
    color: white;
}


.invana-graph-viewer #properties-div {
    background: rgba(82, 82, 82, 0.13);
    height: calc(100vh - 35px);
    width: 300px;
    position: fixed;
    right: 0;
    top: 33px;
    padding: 20px 10px;
    z-index: 10000;
    display: none;
}


.node, .edgepath, .edgelabel, .link {
    cursor: pointer;
}

.link {
    /*stroke: #999;*/
    stroke-opacity: .6;
    /*stroke-width: 1px;*/
}

.node, .link, .edgelabel {
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

#svg {
    width: 100% !important;
    height: 100% !important;;
}

#graph-area-wrapper {
    overflow: hidden;
}

.full-screen {
    width: 100%;
    height: 100%;
}
