body, html {
    font-size: 14px;
    margin: 0;
}

.invana-graph-viewer .server-connected {
    /*width: 10px;*/
    /*height: 10px;*/
    color: green;
    font-size: 10px;

    display: inline-block;
    border-radius: 50%;
}

.invana-graph-viewer .server-not-connected {
    /*width: 10px;*/
    /*height: 10px;*/
    color: red;
    font-size: 10px;
    display: inline-block;
    border-radius: 50%;
}

.invana-graph-viewer #connection-status {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.invana-graph-viewer #selected-data-properties {
    position: fixed;
    bottom: 0px;
    left: 220px;
    font-family: "Courier New";
}

.invana-graph-viewer #notifications-div {
    position: fixed;
    bottom: 18px;
    font-size: 10px;
    left: 5px;
}


.canvas-section {
    height: calc(100vh - 40px);
}

.canvas-right-section {
    height: calc(100vh - 40px);
    background: #efefef;
}
