.management-icon-btn {
  color: #454545 !important;
  padding: 0 !important;
  font-size: 0.8rem;
  margin-right: 10px !important;
  border: 1px solid transparent !important;

}
.management-icon-btn:hover{
  border: 1px solid #252525 !important;
}
