@import "../config";

.queryConsole {

  textarea {
    width: calc(100% - 12px);
    height: 450px;
    padding: 5px;
    border-radius: 2px;
    background: transparent;
    color: $defaultTextColor;
    font-family: Courier;
    font-size: 13px;
  }

  button {
    background: darken($darkBg, 5%);
    width: 100%;
    //margin-top: 5px;
    //font-size: 14px;

    :hover, :active, :focus {
      color: $primaryColor !important;
      //background: red;
    }
  }

  .queryOptions {

    width: 100%;
    min-height: 30px;
    //border-bottom: 1px solid $borderColor;
    padding-bottom: 5px;
    margin-bottom: 5px;

    input[type="checkbox"] {
      min-width: auto;
      display: inline;
    }

    label {
      display: inline;
      font-weight: normal;
      bottom: 3px;
      position: relative;
    }

    .float-left {
      margin-top: 14px;
      //margin-top: 14px;
    }
    .float-right{
      margin-top:5px;
      margin-right: 5px;
    }
  }


}
