.loadingDiv {
  width: calc(100vw - 280px);
  position: absolute;
  top: calc(1rem + 14px + 2px + 14px + 2px + 1rem);
  background: white;
  left: 280px;
  height: calc(100vh - 21px - 40px - 25px);

  p {
    margin-top: 25%;
    text-align: center;
  }
}
