@import "../../config";


.modal-container {
  width: 600px;
  border: 1px solid $borderColor;
  min-height: 250px;
  background: white;

  margin: 0 auto;
  z-index: 100000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
