@import "../../../config";


.flyout {
  position: fixed;
  z-index: 10000;
  display: none;
  /*color: #555555;*/
  //font-size: 12px;
  line-height: 1.2rem;
  word-wrap: break-word;
  //font-family: Courier;
  //overflow-y: auto;
  scrollbar-color: $darkestColor;
  background: $lightDarkBgColor;

  max-width: 100%;
  color: $defaultTextColor;

  .close {
    position: absolute;
    right: 2px;
    top: 2px;

    button {
      color: $defaultTextColor;
      font-weight: bold;
      background: transparent;
      border-color: transparent;
      padding: 1px 5px;
      border-radius: 2px;
      margin-right: 0;
      //font-size: 12px;
      box-shadow: none;
    }

    .button:hover {
      //background: $primaryColor;
      color: $primaryColor;
    }
  }

  .flyoutBody {
    overflow: scroll;
    display: block;
    position: relative;
    height: 100%;
  }

  .flyoutHeader{
    background-color: $darkestColor;
  }
}

.flyout-transparent {
  background: rgba(35, 37, 45, .7);
}

.flyout-md {
  width: 400px;
}

.flyout-lg {
  width: 600px !important;
}

.flyout-right {
  right: 0;
  top: 44px;
  width: 300px;
  height: calc(100vh - 44px - 24px);
  border: 1px solid $borderColor;
  //box-shadow: -2px 1px 3px $darkestColor;

  .flyoutBody {
    //height: 100%;
    overflow-x: scroll;
    //height: calc(100% - 45px - 24px);
  }
}

.flyout-right.flyout-md {
  width: 300px;
}

.flyout-left {
  top: 44px;
  left: 45px;
  height: calc(100vh - 44px - 24px);
  border: 1px solid $borderColor;
  //box-shadow: 2px 1px 3px $darkestColor;

  .flyoutBody {
    //height: 100%;
    overflow-x: scroll;
    //height: calc(100% - 45px - 24px);
  }
}

.flyout-bottom {
  bottom: 23px;
  left: 46px;
  width: calc(100% - 47px);
  height: 250px;
  border-top: 1px solid $borderColor;
  box-shadow: 0 0 3px 0 $darkestColor;
  color: $defaultTextColor;

  .button {
    //color: $darkestColor !important;
  }

  .flyoutHeader {
    height: 14px;
  }

  .flyoutBody {
    height: 205px;
    overflow: scroll;
  }
}

.flyout-bottom.flyout-md, .flyout-bottom.flyout-lg {
  width: calc(100% - 45px);
  z-index: 500000;
}

.flyoutHeaderWarning {
  //background: $warningColor;
  //color: $darkestColor;
}

.flyoutHeader {
  padding: 10px;
  border-bottom: 1px solid $borderColor;
  font-size: 14px;
  font-weight: bold;


}
