@import "../../config";

.selectedCanvas {
  color: $primaryColor;
}

.canvasToggle {
  background-color: $lightDarkBgColor;
  padding-left: 5px;
    padding-right: 5px;

  a {
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
  }
}
