.connected {
  background: #58bb58;
}

.notConnected {
  background: #c15050;
}

.connectionIndicator {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
  position: fixed;
  bottom: 6px;
  left: 5px;
  border-radius: 10px;
  z-index: 20000
}

.unknownStatus {
  background: #dea448;
}
