.connected{
    background: #58bb58;
}

.notConnected{
    background: #c15050;
}

.connectionIndicator{
    width: 10px;
    height: 10px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}

.unknownStatus{
    background: #dea448;
}
