@import "../../../config";

.queryInputForm {
  input {
    width: 600px;
    //position: relative;
    //top: -1px;
  }
  button{
    background: $darkBgColor;
    :hover{
      //background: red;
    }
  }
}
