@import "../../../config";

.headersList {
  margin-bottom: 20px;
  border: 1px solid $borderColor;
  padding: 10px;
  width: 100%;
}

.headerItem {
  //background: #1d1d1d;
  //padding: 5px;

  input {
    padding: 0 !important;
    background: transparent;
  }

  .headerKey {
    width: 135px;
    margin-right: 10px;
  }

  .headerValue {
    width: 208px;
    margin-right: 10px;
  }
}

form {
  width: 100%;

  input {
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px 10px 5px 10px;
    color: white;
    border: 0;
    border-bottom: 1px solid $borderColor;
  }
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  color: #aaa;
  text-align: left;
  display: inline-block;
  padding: 0;
  border: transparent;
  box-shadow: none;
}

h1 {
  margin-top: .8rem !important;
}

small {
  font-size: 16px !important;
}
