
.search-div {
    height: 35px;
    /*background: red;*/
}

.search-div form input {
    padding: 9px 15px;
    font-size: 14px;
    border: none;
    width: calc(100% - 30px);
    background: #efefef;
    color: #555555;
    /*border-bottom: 1px solid #999999;*/
}

.search-div form input:hover,
.search-div form input:focus {
    background: #efefef;
}

svg.main-canvas {
    width: 100%;
    height: calc(100vh - 38px);
}


div#canvas-stats {
    position: fixed;
    right: 10px;
    height: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #999999;
}

#legend-div {
    position: fixed;
    left: 0;
    top: 40px;
    z-index: -10;
}

#legend-div svg {
    height: calc(100vh - 40px);
    font-size: 12px;
}


#copy-right-info-div {
    position: fixed;
    right: 10px;
    height: 10px;
    bottom: 33px;
    opacity: 0.25;
    font-size: 1.3rem;
    font-weight: bolder;

}

#connection-status {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
}

#connection-status .server-connected {

    color: green;
    font-size: 10px;

    display: inline-block;
    border-radius: 50%;
}

#connection-status .server-not-connected {
    /*width: 10px;*/
    /*height: 10px;*/
    color: red;
    font-size: 10px;
    display: inline-block;
    border-radius: 50%;
}

#errorMessage {
    padding: 10px;
    background: #f5deb3;
    line-height: 1.3rem;
    display: block;
    height: 300px;
    font-size: 12px;
    overflow-y: scroll;
}
