body {
    background: #3b3e4c;
    color: #b3b3b3;
    font-size: 14px;
}

a {
    color: #efefef;
}

.search-div {
    height: 35px;
    /*background: red;*/
}

.search-div form input {
    padding: 9px 15px;
    font-size: 13px;
    width: calc(100% - 32px);
    background: #1f222f;
    color: #efefef;
    font-family: Courier;
    border: none;
    border-bottom: 1px solid #4e5261;
}

.search-div form input:hover,
.search-div form input:focus {
    background: #1f222f;
}

svg.main-canvas {
    width: 100%;
    height: calc(100vh - 38px);
}


div#canvas-stats {
    position: fixed;
    right: 10px;
    height: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #999999;
}

#legend-div {
    position: fixed;
    left: 42px;
    top: 34px;
    z-index: -10;
}

#legend-div svg {
    height: calc(100vh - 40px);
    font-size: 12px;
}


#copy-right-info-div {
    position: fixed;
    right: 10px;
    bottom: 25px;
    opacity: 0.25;
    font-size: 1.3rem;
    font-weight: 600;
    color: #efefef;

}

#connection-status {
    position: fixed;
    bottom: 5px;
    left: 40px;
    font-size: 12px;
    color: #efefef;
    z-index: 10;
    width: calc(100% - 40px);
}

#connection-status span {
    padding-left: 10px;

}

#connection-status .server-connected {

    color: #9ac59a;
    font-size: 10px;

    display: inline-block;
    border-radius: 50%;
}

#connection-status .server-not-connected {
    /*width: 10px;*/
    /*height: 10px;*/
    color: #ce7c7c;
    font-size: 10px;
    display: inline-block;
    border-radius: 50%;
}

#errorMessage {
    padding: 10px;
    background: #f5deb3;
    line-height: 1.3rem;
    display: block;
    /*max-width: 100%;*/
    height: 300px;
    font-size: 12px;
    overflow-y: scroll;
    color: #353535;
}

#SelectedDataDiv {
    /*background: rgba(105, 105, 105, 0.88);*/
    height: calc(100vh - 36px);
    width: 300px;
    position: fixed;
    right: 0;
    top: 36px;
    z-index: 10000;
    display: none;
    /*color: #555555;*/
    font-size: 12px;
    line-height: 1.2rem;
    word-wrap: break-word;
    font-family: Courier;
    overflow: scroll;
    border-left: 1px solid #212329;
    background: rgba(35, 37, 45, .7);
    color: #d2d2d2;

}

.propertyKey {
    display: inline;
    font-weight: bold;
    font-size: 12px;
    margin-right: 8px;
}

.SelectedDataHeading {
    font-size: 12px;
    background: #333333;
    color: white;

    padding: 3px 0;
    width: 100%;

}

.SelectedDataHeading .itemLabel {
    background: #7d8296;
    padding: 5px 10px;
    padding-bottom: 6px;
    margin-right: 10px;
    text-shadow: 1px 1px #424242;
    /*color: #888888;*/
    font-weight: bold;
}

.SelectedDataList {
    padding: 0 10px;

}

.SelectedDataList.mainDetails {
    background: #1e2027;
}

.singleProperty.heading {
    background: black;
    margin-left: -10px;
    padding: 5px 10px;
    margin-right: -10px;
}

.singleProperty {
    border-bottom: 1px solid #2f313c;
    padding-top: 3px;
    padding-bottom: 3px;
}


input[type="text"]:focus, textarea[type="text"]:focus {
    outline: none;
    /*box-shadow: 0px 0px 5px #61C5FA;*/
    /*border: 1px solid #5AB0DB;*/
    box-shadow: none;
    border: none;
}

input[type="text"]:hover, textarea[type="text"]:hover {
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    /*box-shadow: 0px 0px 5px #61C5FA;*/
    /*border: 1px solid #5AB0DB;*/
    border-radius: 0;
    box-shadow: none;
    border: none;
}


svg:not(:root).svg-inline--fa {
    color: #b0b0b0;
}

.errorHideBtn {
    /*right: 0;*/
    position: absolute;
    top: 20px;
    padding: 2px 4px;
    background: none;
    border: 1px solid #666666;
    cursor: pointer;
    margin-top: 5px;
}


button {
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #222222;
}

button:hover {
    background-color: #888888
}

button:active {
    background-color: #888888;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
