@import "src/config";

.focus-node {
  position: fixed;
  width: 330px;
  border: 1px solid $borderColor;
  top: 77px;
  right: 175px;
  background: $darkBg;
  //padding: 10px;
  opacity: 0.95;
  z-index: 1;

  .ge-panel-body {
    overflow: hidden;
  }

  .ge-panel-options button {
    margin-right: 0 !important;
  }

  input[type="text"] {
    width: calc(100% - 12px);
  }

  .focus-btn {
    border: 1px solid $borderColor !important;
    padding: 5px;
    margin-left: 5px;
  }
}

.focus-results {
  li {
     cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid $borderColor;
    span {
      background-color: rgb(210, 186, 45);
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 6px;
      vertical-align: baseline;
    }
  }
  li:hover{
    color: $primaryColor;
  }
}

