@import "src/config";

.focus-node {
  position: fixed;
  width: 330px;
  border: 1px solid $borderColor;
  top: 77px;
  right: 175px;
  background: $darkBg;
  //padding: 10px;
  opacity: 0.95;
  z-index: 1;

  .ge-panel-body {
    overflow: hidden;
  }

  .ge-panel-options button {
    margin-right: 0 !important;
  }

  input[type="text"] {
    width: 229px;
  }

  .focus-btn {
    border: 1px solid $borderColor !important;
    padding: 5px;
    margin-left: 5px;
  }
}

