@import "../../../config";

.secondaryHeader {
  position: fixed;
  top: 45px;
  width: calc(100% - 50px);
  height: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  //background: lighten($darkBgColor, 10%);
  background: lighten($darkBgColor, 0%);
  border-bottom: 1px solid $borderColor;
  box-shadow: 1px 1px 3px $darkBgColor;

  .left-side {
    float: left;
  }

  .right-side {
    margin-left: auto;
    order: 2;
  }

  p {
    margin-bottom: 0;
  }
}
