.nodeMenuContainer {
    position: fixed;
    background-color: #efefef;
    font-family: "Arial";
    width: 200px;
    font-size: 12px;
    padding: 5px;

}

.nodeMenuContainer h5 {
    font-size: 14px
}

.nodeMenuContainer p {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    color: #676767;
}

.graphContainer {
    height: 100%;
    width: 100%;
}

.nodeMenu {
    margin-left: 0;
    padding-left: 0;
    width: 100px;
    border: 1px solid #999999;

}

.nodeMenu li {
    display: block;
    border-bottom: 1px solid #343434;
    color: #343434;
    cursor: pointer;
    /*font-size: 14px;*/
    padding: 5px 5px;
}
