<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-3">
            <div class="card ">
                <div class="card-header">
                    Help and Documentation
                </div>
                <div class="card-body">
                    <p> g.addV('Person').property('first_name' , 'Ravi')</p>


                    <code>
                        # sample code
                        gremlin = graph.addVertex(label,'software','name','gremlin');
                        gremlin.property('created',2009);
                        blueprints = graph.addVertex(label,'software','name','blueprints');
                        gremlin.addEdge('dependsOn',blueprints);
                        blueprints.property('created',2010);
                    </code>

                    <code>
                        # get the schema
                        # Source https://stackoverflow.com/questions/48937461/get-map-of-vertex-labels-with-all-properties-with-gremlin-tinkerpop3
                        g.V().
                        group().
                        by(label).
                        by(properties().
                        label().
                        dedup().
                        fold())
                    </code>

                </div>

            </div>

        </div>
        <div class="col-md-4">
            <div class="card mt-3">

            </div>
        </div>
    </div>
</div>
