<div class="container-fluid" ng-controller="dslCtrl">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">


                    <li ng-repeat="vertex_class in vertex_list">
                        <a class="nav-link badge badge-primary" ng-click="show_vertex_data(vertex_class)"
                           style="color:white !important;">
                            {{vertex_class}}</a>
                    </li>
                </ul>

            </div>
        </nav>
        <div class="col-md-7 mt-3">
            <textarea name="" ng-bind="query_string" class="form-control" id="" cols="30" rows="3"></textarea>
            <button class="btn btn-secondary mt-2" ng-click="run_query()">Submit Query</button>
            <!--<p class="small">Type and press Enter</p>-->

            <div class="card mt-3" ng-if="query_result">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            Query Result

                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-tabs card-header-tabs float-right nav-result">
                                <!--<li class="nav-item">-->
                                <!--<a class="nav-link active" id="show-pretty" href="javascript:void();"-->
                                <!--ng-click="show_pretty()">Pretty</a>-->
                                <!--</li>-->
                                <li class="nav-item">
                                    <a class="nav-link active" id="show-table" href="javascript:void();"
                                       ng-click="show_table();">Table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="show-graph" href="javascript:void();"
                                       ng-click="show_graph();">Graph</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <!--<div class="" ng-if="query_result && shall_show_pretty">-->


                    <!--<div class="" ng-repeat="node in query_result">-->
                    <!--<h6>-->
                    <!--<a ng-click="show_node($index)" style="color: #666 !important;">-->
                    <!--<span class="badge badge-primary" title="{{node.id}}">-->
                    <!--<span ng-if="node.type == 'vertex'">V:</span>-->
                    <!--<span ng-if="node.type == 'edge'">E:</span>{{node.label}}-->
                    <!--</span>-->
                    <!--{{node.properties.name[0].value || name.properties.title[0].value}}-->
                    <!--</a>-->
                    <!--</h6>-->
                    <!--</div>-->

                    <!--<hr>-->
                    <!--<code>-->
                    <!--<h3>JSON Data</h3>-->
                    <!--{{query_result}}-->
                    <!--</code>-->
                    <!--</div>-->

                    <div class="" ng-if="query_result && shall_show_table">


                        <table class="table table-bordered">
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th>id</th>-->
                            <!--<th>Node</th>-->
                            <!--<th>Operations</th>-->
                            <!--<th ng-repeat="prop in "></th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <tbody>
                            <tr ng-repeat="node in query_result" id="{{node.type}}-{{node.id}}">
                                <td><a ng-click="show_node($index)">{{node.id}}</a></td>
                                <td>  <span class="badge badge-primary" title="{{node.id}}">
                                    <span ng-if="node.type == 'vertex'">V:</span>
                                    <span ng-if="node.type == 'edge'">E:</span>{{node.label}}
                                </span>
                                </td>
                                <td ng-repeat="(k, prop) in node.properties">
                                    {{k}}:{{prop[0].value}}
                                </td>
                                <td>

                                    <button type="button" class="badge badge-danger"
                                            ng-click="delete_current_node(node.type, node.id)">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="" ng-if="query_result && shall_show_graph">
                        <p class="text-muted small">Shows data as graph still need to be implemented.</p>
                    </div>

                    <div id="outputArea"></div>
                    <div id="messageArea"></div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card mt-3">
                <div class="card-header">
                    Node/Edge Details
                </div>
                <div class="card-body">

                    <div ng-repeat="(k,v) in current_node">
                        <p ng-if="k != 'properties'"><strong>{{k}}</strong>: {{v}}</p>
                        <div ng-if="k == 'properties'">
                            <h6 class="text-uppercase"><strong>Properties:</strong></h6>
                            <p ng-repeat="(kk, vv) in v"><strong>{{kk}}</strong>: {{vv[0].value}}</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
