<div class="container-fluid" ng-controller="schemaCtrl">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card ">
                <div class="card-header">
                    Vertex Classes List
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Class</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="vertex_class in vertex_list">
                            <td>{{vertex_class}}</td>
                            <td>
                                <button type="button" class="badge badge-success ">Query All</button>
                                <button type="button" class="badge badge-warning">Truncate</button>
                                <button type="button" class="badge badge-danger" ng-click="delete_vertex(vertex_class)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--<p>Delete all vertices <a ng-click="">check here </a></p>-->
                </div>

            </div>

        </div>
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-header">
                    Edge Classes List
                </div>
                <div class="card-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Class</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="edge_class in edge_list">
                            <td>{{edge_class}}</td>
                            <td>
                                <button type="button" class="badge badge-success ">Query All</button>
                                <button type="button" class="badge badge-warning">Truncate</button>
                                <button type="button" class="badge badge-danger">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
