.graphCanvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.D3GraphCanvas {
  height: 100%;
  width: 100%;
  position: relative;
}
.arc, .node{
  cursor: pointer;
}

