@import "../../config";

.loadingDivFull, .loadingDivExplorerView {
  display: block;
  position: fixed;
  color: $defaultTextColor;

  .sk-fold {
    margin-top: 17% !important;
  }

  h3 {
    margin-top: 1rem;
    font-size: 1rem;
    color: #a9a9a9;
    text-align: center;
    padding-bottom: 0;
  }

  a {
    color: inherit;
  }

  p {
    font-size: .7rem;
    text-align: center;
  }
}


.loadingDivFull {
  /* works for pre login */
  background: rgba(36, 36, 36, 0.85);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 20%;
}

.loadingDivExplorerView {
  /* works for port login in /explorer */
  text-align: right !important;
  right: 0 !important;
  bottom: 30px !important;
  background: transparent !important;
  top: auto !important;
}
