@import "../../config";

.leftContainer {
  width: 280px;
  position: absolute;
  top: 40px;
  left: 0;
  height: calc(100vh - 40px);
  //background: $lightBg;
  background: white;

  border-right: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
}

