.menu-component .nav-link {
  padding: .3rem .45rem !important

}

.menu-component {
  .nav-item button{

    border: none;
    background: transparent;
    padding: 5px 10px;
  }
}

.md-menu {

}

.sm-menu {
  .menu-component .nav-link {
    padding: .1rem .45rem !important
  }
}
