.menu-component .nav-link {
  padding: 2px .45rem !important

}

.menu-component {

  //margin-bottom: 1rem;
  .nav-item button{
    border: none;
    //background: transparent;

    //padding: 5px 10px;
    line-height: 0 !important;
  }
}

.md-menu {

}

.sm-menu {
  .menu-component .nav-link {
    padding: .1rem .45rem !important
  }
}
