@import "../../config";

.rightContainer {
  width: 280px;
  position: absolute;
  top: 65px;
  right: 0;
  height: calc(100vh - 65px - 20px);
  //background: $lightBg;
  background: white;
  z-index: 10000000;

  border-left: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
}

