@import "src/config";

.filter-nodes {
  position: fixed;
  width: 300px;
  border: 1px solid $borderColor;
  top: 77px;
  right: 140px;
  background: $darkBg;
  //padding: 10px;
  min-height: 150px;
  opacity: 0.9;

  .ge-panel-body {
    overflow: hidden;
  }

  .ge-panel-options button {
    margin-right: 0 !important;
  }

  input[type="text"] {
    width: 219px;
  }

  .focus-btn {
    border: 1px solid $borderColor !important;
    padding: 5px;
    margin-left: 5px;
  }
}
