/*text {*/
/*    font: 10px sans-serif;*/
/*}*/

/*.d3-tip {*/
/*    line-height: 1;*/
/*    font-weight: bold;*/
/*    padding: 12px;*/
/*    background: rgba(0, 0, 0, 0.8);*/
/*    color: #fff;*/
/*    border-radius: 2px;*/
/*}*/

/*!* Creates a small triangle extender for the tooltip *!*/
/*.d3-tip:after {*/
/*    box-sizing: border-box;*/
/*    display: inline;*/
/*    font-size: 10px;*/
/*    width: 100%;*/
/*    line-height: 1;*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    content: "\25BC";*/
/*    position: absolute;*/
/*    text-align: center;*/
/*}*/

/*!* Style northward tooltips differently *!*/
/*.d3-tip.n:after {*/
/*    margin: -1px 0 0 0;*/
/*    top: 100%;*/
/*    left: 0;*/
/*}*/

/*.menu-segment {*/
/*    fill: #4679bd;*/
/*}*/

/*.menu-segment:hover {*/
/*    fill: #5689cd;*/
/*}*/

/*.menu-icon {*/
/*    pointer-events: none;*/
/*}*/

.node {
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
}


#svg {
    width: 100% !important;
    height: 100% !important;;
}

#graph-area-wrapper{
    overflow: hidden;
}

.full-screen{
    width: 100%;
    height: 100%;
}
