header.top-header {
  background: #3b3b3b
}

//.rs-navbar-item

.rs-navbar-header {
  height: 45px !important;

  .navbar-brand {
    padding: 2px 15px !important;
  }
}

.navbar-brand.logo:hover {
  text-decoration: none;

}

.rs-navbar-item {
  height: 45px;
}