@import "~bootstrap/scss/bootstrap";

body {
  font-size: 14px;
}

// normalise code
.nav-pills .nav-link {
  border-radius: 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: none;
  //box-shadow: none;
  //-webkit-box-shadow: none;
  //outline: -webkit-focus-ring-color auto 5px;
  //border-radius: 0;

  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  background: #eaeaea !important;
}

button {
  //border-radius: 0 !important;
}

.nav-canvas .nav-link {
  font-size: 13px !important;
  //color: #525252 !important;
}

.small {
  font-size: 13px !important;
}


.modal-dialog {
  z-index: 1000002;
}

.bg-dark {
  background: #4e4f55;
}
