$primaryColor: #429770;
$darkBgColor: #222222;
$lightDarkBgColor: lighten($darkBgColor, 10%);

$canvasBgColor: #404147;  // for the center main content background.
$borderColor: #505050; // for all borders

$defaultTextColor: #a0a0a0;// #c1c1c1; // for all text and there for icon colors
$darkTextColor: #616161;
$warningColor: rgba(255, 241, 155, 0.6);

