$primaryColor: #429770;
$primaryLightColor: #69d2a3;
$darkestColor: #222222;
$lightDarkBgColor: #2e2e2e; //lighten($darkestColor, 10%);

$canvasBgColor: #404147;  // for the center main content background.
$borderColor: #505050; // for all borders

$defaultTextColor: #b1b0b0;// #a0a0a0; // for all text and there for icon colors
$darkTextColor: #616161;
$warningColor: rgba(255, 241, 155, 0.6);

