$borderColor: #343434;
$darkBg : #181818;
$veryDarkBg: #121212;
$darkBgSecondary: #2b2b2b;
$defaultTextColor: #aaaaaa;
$darkTextColor:  #353535;
$primaryColor: #429770;

$errorColor: #ea6d6d;
$infoColor: #72d472;
