$primaryColor: #50aa93;
$darkBgColor: #222222;
$lightDarkBgColor: lighten($darkBgColor, 5%);

$canvasBgColor: #404147;  // for the center main content background.
$borderColor: #393939; // for all borders

$defaultTextColor: #c1c1c1; // for all text and there for icon colors
$darkTextColor: #2f2f2f;
$warningColor: rgba(255, 241, 155, 0.6);
