@import "config";


.btn-bottom-border {
  border-bottom: 2px solid $primaryColor !important;
  border-radius: 0 !important;
}

.footer {
  font-size: 13px;
}
.cursor {
  cursor: pointer;
}

.nav-search {
  button {
    border-radius: 0 !important;
    border-color: #ced4da;
    border-left: none;

  }

  button:first-child:hover {
    background: transparent;
    color: #69747b;
    border-color: $borderColor;
  }

  input {
    border-right: none !important;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.text-light{
  color: #c9c9c9 !important;
}