@import "config";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $canvasBgColor;
  font-size: 14px;
  color: $defaultTextColor;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $lightDarkBgColor inset !important;

}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $defaultTextColor !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

}

a:hover {
  color: #6aaa53;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    //border-left: 1px solid $borderColor;

    a {
      padding: 10px 15px;
      display: inline-block;
      color: $defaultTextColor;
      font-size: 14px;
    }


  }
}

ul.vertical {
  li {
    display: block;
    border: none;
    border-bottom: 1px solid $borderColor;

    a {
      padding: 15px 17px;
    }
  }
}

ul.list {
  a {
    padding: 5px !important;
  }
}

form {

  input {
    padding: 6px 10px;
    background: $lightDarkBgColor;
    border: 1px solid $borderColor;
    outline: none;
    color: white;
    fill: $lightDarkBgColor;
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 200px;

    :hover, :focus, :active {
      background: $lightDarkBgColor;
      border-color: $borderColor;
      outline: none;
      fill: $lightDarkBgColor;
    }

    :read-only {
      background-color: yellow;
    }
  }

  label {
    padding-top: 10px;
    display: block;
    font-weight: bold;
    color: inherit;
  }
}

::-webkit-input-placeholder { /* Edge */
  color: darken($defaultTextColor, 20%);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: darken($defaultTextColor, 20%);
}

::placeholder {
  color: darken($defaultTextColor, 20%);
}

button {
  padding: 6px 15px;
  font-size: 16px;
  background: $lightDarkBgColor;
  border: 1px solid $borderColor;
  outline: none;
  color: $defaultTextColor;
  cursor: pointer;
  max-height: 40px;

  :hover {
    //background: red !important;
    cursor: pointer;
    //outline: none;
    color: $primaryColor;

  }

  :after {
    background: $primaryColor !important;
    opacity: 0;
    transition: all 0.8s
  }

}

.primary-btn {
  background: $primaryColor;
  color: $darkBgColor;
  border-color: $primaryColor;
}

pre {
  //overflow-x: auto;
  //white-space: pre-wrap;
  //white-space: -moz-pre-wrap;
  //white-space: -pre-wrap;
  //white-space: -o-pre-wrap;
  //word-wrap: break-word;
}


.errorMessage {
  background: $warningColor;
  color: $darkBgColor;
  padding: 10px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.node {
  cursor: pointer;
}

.small {
  font-size: 0.8rem;
}
