body {
  font-size: 14px !important;
}

.navbar {
  padding: 0 1rem !important;
}

h1 {
  font-size: 2.2rem !important;
}

.card-header {
  padding: 0.55rem 1rem !important;

}

.card-body {
  padding: 1rem !important;
}

.col, .col-md-12, .col-md-3, .col-md-4, .col-md-8, .col-md-9, .col-md-1, .row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container-fluid{
  padding: 0 !important;
}
