@import "./config.scss";


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: $darkBg !important;
  //line-height: 1.6rem;
  font-size: 12px;
}

body {
  overflow: hidden;
}

ul li, p, a, button {
  font-size: 13px;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  // text-align: center;
  height: 100%;
  width: 100%;
  color: $defaultTextColor;
  font-size: 13px;
}


a {
  cursor: pointer;
  color: $defaultTextColor;
}

.selected {
  color: $primaryColor !important;

}

a:hover {
  color: $primaryColor;
}

p {
  line-height: 1.4rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}

input, textarea {
  background: $darkBgSecondary;
  border: 1px solid $borderColor;
  padding: 5px;
  color: $defaultTextColor;
  outline: none;
}

.input:focus {
  box-shadow: none;
  border: 1px solid $borderColor;
}

.full-container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  color: white;
}

.btn {
  border: 1px solid;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1rem;
  border-radius: 2px;
  margin-right: 5px;
      margin-bottom: 3px;
}

button {
  background: darken($darkBg, 5%);
  //width: 100%;
  border: 1px solid $borderColor;
  cursor: pointer;
  outline: none;
  background: transparent;
  color: $defaultTextColor;
  text-align: left;
  display: inline-block;
  padding: 0;
  border: transparent;
  box-shadow: none;

  :hover, :active, :focus {
    color: $primaryColor !important;
    //background: red;
  }
}

.button {
  padding: 4px 15px;
  margin-right: 10px;
  max-height: 40px;
  //text-align: center;
  border-radius: 2px;
  border: 1px solid $borderColor;
  box-shadow: 0 2px #999;

}

.primary-btn {
  border-color: $primaryColor;
  box-shadow: 0 2px $primaryColor;
}

.button:after, .primary-btn:after {
  border-color: $primaryColor !important;
  opacity: 0;
  transition: all 0.8s
}

.button:active, .primary-btn:active {
  border-color: $primaryColor;
  box-shadow: 0 2px $primaryColor;
  transform: translateY(4px);
}

.button:hover, .primary-btn:hover {
  border-color: $primaryColor;
  box-shadow: 0 2px $primaryColor;
}

.small {
  font-size: 0.8rem !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}


.ml-5 {
  margin-left: 5px;
}

.m-10 {
  margin: 10px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}


.mb-0 {
  margin-bottom: 0;
}

textarea {
  word-break: break-all;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}


label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
  color: #4e4e4e;
  font-weight: bold;
  font-size: 12px;
}

input[type="text"] {
  width: 220px;
}

li.logo {
  padding: 8px 5px;

  a {
    font-size: 18px;
  }
}

.error-badge {
  display: inline;
  padding: 0 3px;
  background: #b45f5f;
  color: lighten($defaultTextColor, 20%);
  border-radius: 2px;
  font-size: 12px;
}

.ok-badge {
  display: inline;
  padding: 0 3px;
  background: #33560f;
  color: lighten($defaultTextColor, 20%);
  font-size: 12px;
  border-radius: 2px;
}

::-moz-selection { /* Code for Firefox */
  color: $darkTextColor;
  background: $primaryColor;
}

::selection {
  color: $darkTextColor;
  background: $primaryColor;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //border: 1px solid green;
  -webkit-text-fill-color: white;
  //-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  transition: background-color 5000s ease-in-out 0s;
}

//body::-webkit-scrollbar,
.tableCanvas::-webkit-scrollbar,
.jsonCanvas::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

//body::-webkit-scrollbar-track,
.tableCanvas::-webkit-scrollbar-track,
.jsonCanvas::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

//body::-webkit-scrollbar-thumb,
.tableCanvas::-webkit-scrollbar-thumb,
.jsonCanvas::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  outline: 1px solid $borderColor;
}


.info-message {
  margin-bottom: 0;
  color: $infoColor;
}

.error-message {
  margin-bottom: 0;
  color: $errorColor;
}

.text-muted {
  color: #696969;
}