@import "./config.scss";


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: $darkBg;
  //line-height: 1.6rem;
  font-size: 13px;

}

//ul li, p, a {
//  font-size: 13px;
//
//}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  // text-align: center;
  height: 100%;
  width: 100%;
  color: $defaultTextColor;
  //font-size: 13px;
}


a {
  cursor: pointer;
  color: $defaultTextColor;
}

.selected {
  color: $primaryColor !important;
}

a:hover {
  color: $primaryColor;
}

p {
  line-height: 1.4rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}

input, textarea {
  background: $darkBgSecondary;
  border: 1px solid $borderColor;
  padding: 5px;
  color: $defaultTextColor;
  outline: none;
}

.input:focus {
  box-shadow: none;
  border: 1px solid $borderColor;
}

.full-container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  color: white;
}

button {
  background: darken($darkBg, 5%);
  //width: 100%;
  border: 1px solid $borderColor;
  cursor: pointer;
  box-shadow: 0 2px #999;
  outline: none;
  background: transparent;
  color: $defaultTextColor;
  max-height: 40px;
  border-radius: 2px;
  font-size: 14px;
  display: inline-block;
  padding: 4px 15px;
  margin-right: 10px;

  :hover, :active, :focus {
    color: $primaryColor !important;
    //background: red;
  }
}


.primary-btn {
  border-color: $primaryColor;
  box-shadow: 0 2px $primaryColor;
}

.button:after, .primary-btn:after {
  border-color: $primaryColor !important;
  opacity: 0;
  transition: all 0.8s
}

.button:active, .primary-btn:active {
  border-color: $primaryColor;
  box-shadow: 0 2px $primaryColor;
  transform: translateY(4px);
}

.button:hover, .primary-btn:hover {
  border-color: $primaryColor;
  box-shadow: 0 2px $primaryColor;
}

.small {
  font-size: 0.8rem !important;
}

.mt-10 {
  margin-top: 10px;
}

.m-10 {
  margin: 10px;
}
.m-0{
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

textarea {
  word-break: break-all;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}


label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 12px;
}

input[type="text"] {
  width: 220px;
}

li.logo {
  padding: 8px 5px;

  a {
    font-size: 18px;
  }
}
.error-badge{
    display: inline;
    padding: 0 3px;
    background: #b45f5f;
    color: white;
    border-radius: 2px;
}
.ok-badge{
    display: inline;
    padding: 0 3px;
    background: #598b27;
    color: white;
    border-radius: 2px;
}
