@import "../../config";

.queryConsole {

  textarea {
    width: calc(100% - 10px);
    height: 450px;
    padding: 5px;
    border-radius: 2px;
    background: transparent;
    color: $defaultTextColor;
    font-family: Courier;
    font-size: 13px;
  }

  button {
    background: darken($darkestColor, 5%);
    width: 100%;
    margin-top: 5px;
    font-size: 14px;

    :hover, :active, :focus {
      color: $primaryColor !important;
      //background: red;
    }
  }


}
