@import "../../config";

.queryConsole {
  textarea {
    width: calc(100% - 10px);
    height: 450px;
    padding: 5px;
    border-radius: 2px;
    background: #404147;
    color: white;
    font-family: Courier;
    font-size: 14px;
  }

  button {
    background: darken($darkBgColor, 5%);
    width: 100%;
    margin-top: 5px;
    font-size: 14px;

    :hover, :active, :focus {
      color: $primaryColor !important;
      //background: red;
    }
  }

  .button {

    cursor: pointer;
    outline: none;
    color: #fff;
    border: 1px solid $borderColor;
    border-radius: 2px;
    box-shadow: 0 2px #999;
  }

  .button:hover {
    background-color: $primaryColor;
    color: $darkBgColor;
  }

  .button:active {
    background-color: $primaryColor;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    color: $darkBgColor;
  }
}
