@import "../../config";

.historyList {
  .historyItem:nth-child(odd) {
    background: #292929;

  }


  .historyItem {

    padding: 10px;

    p {
      color: $darkTextColor;
      margin-bottom: 0;

      span {
        font-size: 10px !important;
      }
    }

    pre {
      margin: 0;
    }

    a {
      color: $darkTextColor;
      margin-right: 10px;
      font-size: 10px;
      padding: 0;
      //padding: 2px 15px !important;
    }
    a:hover{
      color: $primaryColor;
    }
  }


}

