@import "../../../config";


.tableCanvas {
  overflow-y: scroll;
  height: 100%;


  table {
    border: 1px solid;
    border-collapse: collapse;

    thead {
      tr {
        background: $darkestColor;
        //border-bottom-style: solid;
      }
    }

    th, td {
      border: 1px solid $darkTextColor;
      padding: 5px 8px;
      text-align: left;
    }
  }

  .tableComponent {
    display: block;

    h3 {
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }

  .responseBox {
    border-bottom: 2px solid $borderColor;
    padding-bottom: 10px;
  }
}
