
.data-table .btn-data-table {
    font-size: 13px !important;
    border-color: #cccccc;
    border-radius: 3px !important;
    padding-left: .9rem !important;
    padding-right: .9rem !important;
    margin-right: 5px;
}

.data-table .card-body {
    padding: .7rem .7rem;
}

.data-table .btn, .data-table select option {
    font-size: 12px;
}

.data-table .form-control {
    border-radius: 3px !important;
}

.data-table .page-link {
    border: transparent !important;
    background-color: transparent !important;
    color: #747474 !important;
    font-weight: bold;
}

.data-table .page-item.active .page-link {
    background-color: transparent !important;
    color: #5c4ee5 !important;
}

.data-table select.form-control {
    color: #6c757d !important;
    border-color: #cccccc;
    font-size: 13px !important;
}

.data-table-table .cell-content {

}

/*.data-table-table th:first-child, .data-table-table td:first-child {*/
/*    position: sticky;*/
/*    left: 0;*/
/*    border-left: solid 1px #DDEFEF;*/
/*    border-right: solid 1px #DDEFEF;*/
/*    background-color: #e9ecef !important;*/

/*}*/


.data-table-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: .25rem;
    font: normal 13px Arial, sans-serif;
}

.data-table-table th .fas {
    cursor: pointer;
    margin-right: 5px;
}

.data-table-table th i.fas.fa-filter {
    font-size: .7rem;
}

.data-table-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.data-table-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
    min-width: 80px;
}

.data-table-wrapper {
    position: relative;
}

.data-table-scroller {
    margin-left: 171px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: calc(100% - 171px);
}

.data-table-table .data-table-sticky-col {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: absolute;
    top: auto;
    width: 170px;
    background-color: #e9ecef !important;
}
.data-table-table .data-table-label-col {
    width: 140px;
 }
